{% extends "site_vitrine.html" %}
{% load static %}

{% block headerContent %}
<title>Conditions générales</title>
{% endblock %}

{% block content %}
<div>
    <h2 id="condition"><center>Conditions Générales d'Utilisation</center></h2>

    <ul>
        <li><strong>1. Préambule</strong><br>
            Les présentes conditions générales d'utilisation (CGU) régissent l'utilisation du site web [Nom du site] (ci-après "le Site"). En accédant et en utilisant le Site, vous acceptez sans réserve les présentes conditions.
        </li>
        <li><strong>2. Objet du Site</strong><br>
            Le Site a pour vocation de présenter l'application BornDZ et de fournir des informations sur ses fonctionnalités et services.
        </li>
        <li><strong>3. Accès au Site</strong><br>
            L'accès au Site est gratuit et ouvert à tous. L'Utilisateur est responsable de son matériel informatique et de sa connexion internet.
        </li>
        <li><strong>4. Propriété Intellectuelle</strong><br>
            Tous les contenus présents sur le Site (textes, images, logos, etc.) sont protégés par les lois en vigueur en matière de propriété intellectuelle et sont la propriété exclusive de BornDZ. Toute reproduction ou exploitation non autorisée est interdite.
        </li>
        <li><strong>5. Données Personnelles</strong><br>
            Le Site peut collecter des informations personnelles dans le respect des lois en vigueur en Algérie. L'Utilisateur dispose d'un droit d'accès, de rectification et de suppression de ses données personnelles en contactant [Email de contact].
        </li>
        <li><strong>6. Responsabilités</strong><br>
            Le Site met tout en œuvre pour assurer l'exactitude des informations publiées mais ne saurait être tenu responsable des erreurs ou omissions. L'Utilisateur est seul responsable de l'utilisation des informations disponibles sur le Site.
        </li>
        <li><strong>7. Liens Hypertextes</strong><br>
            Le Site peut contenir des liens vers des sites tiers. BornDZ n'est pas responsable du contenu de ces sites et décline toute responsabilité quant à leur utilisation.
        </li>
        <li><strong>8. Modification des CGU</strong><br>
            BornDZ se réserve le droit de modifier les présentes conditions à tout moment. Les modifications entreront en vigueur dès leur publication sur le Site.
        </li>
        <li><strong>9. Droit Applicable et Juridiction Compétente</strong><br>
            Les présentes CGU sont soumises au droit algérien. En cas de litige, les tribunaux algériens seront seuls compétents.
        </li>
        <li><strong>10. Contact</strong><br>
            Pour toute question concernant ces CGU, vous pouvez nous contacter à [Email de contact].
        </li>
    </ul>
    
    
</div>

<div>
    <h2 id="politique"><center>Politique de confidentialité</center></h2>

    <ul>
        <li><strong>1. Préambule</strong><br>
            Les présentes conditions générales d'utilisation (CGU) régissent l'utilisation du site web [Nom du site] (ci-après "le Site"). En accédant et en utilisant le Site, vous acceptez sans réserve les présentes conditions.
        </li>
        <li><strong>2. Objet du Site</strong><br>
            Le Site a pour vocation de présenter l'application BornDZ et de fournir des informations sur ses fonctionnalités et services.
        </li>
        <li><strong>3. Accès au Site</strong><br>
            L'accès au Site est gratuit et ouvert à tous. L'Utilisateur est responsable de son matériel informatique et de sa connexion internet.
        </li>
        <li><strong>4. Propriété Intellectuelle</strong><br>
            Tous les contenus présents sur le Site (textes, images, logos, etc.) sont protégés par les lois en vigueur en matière de propriété intellectuelle et sont la propriété exclusive de BornDZ. Toute reproduction ou exploitation non autorisée est interdite.
        </li>
        <li><strong>5. Données Personnelles</strong><br>
            Le Site peut collecter des informations personnelles dans le respect des lois en vigueur en Algérie. L'Utilisateur dispose d'un droit d'accès, de rectification et de suppression de ses données personnelles en contactant [Email de contact].
        </li>
        <li><strong>6. Responsabilités</strong><br>
            Le Site met tout en œuvre pour assurer l'exactitude des informations publiées mais ne saurait être tenu responsable des erreurs ou omissions. L'Utilisateur est seul responsable de l'utilisation des informations disponibles sur le Site.
        </li>
        <li><strong>7. Liens Hypertextes</strong><br>
            Le Site peut contenir des liens vers des sites tiers. BornDZ n'est pas responsable du contenu de ces sites et décline toute responsabilité quant à leur utilisation.
        </li>
        <li><strong>8. Modification des CGU</strong><br>
            BornDZ se réserve le droit de modifier les présentes conditions à tout moment. Les modifications entreront en vigueur dès leur publication sur le Site.
        </li>
        <li><strong>9. Droit Applicable et Juridiction Compétente</strong><br>
            Les présentes CGU sont soumises au droit algérien. En cas de litige, les tribunaux algériens seront seuls compétents.
        </li>
        <li><strong>10. Contact</strong><br>
            Pour toute question concernant ces CGU, vous pouvez nous contacter à [Email de contact].
        </li>
    </ul>
    
    
</div>
{% endblock %}