{% extends "site_vitrine.html" %}
{% load static %}

{% block headerContent %}
<link rel="stylesheet" href="{% static 'form.css' %}">

<title>Nouveau Mot de Passe</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Mot de passe oublié</h2>
    <form action="{% url 'new_password' %}" method="POST">
        {% csrf_token %}
        <h1>Inscription</h1>
        {{form.as_p}}
        {% if form.errors %}

                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        <br>
                    {% endfor %}
            {% endif %}
        <button type="submit">Envoyer</button>
    </form>
</div>

{% endblock %}


