# Noyau Django et API
Django==5.1.5
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
django-cors-headers==4.7.0

# Serveur et Déploiement
gunicorn
daphne==4.2.1
channels==4.3.2
whitenoise==6.11.0
dj-database-url==3.0.1
environs==14.1.0
python-dotenv==1.0.1

# Base de données (PostgreSQL)
psycopg==3.2.4
psycopg2-binary==2.9.11

# Utilitaires et Sécurité
cryptography==46.0.3
PyJWT==2.10.1
pillow==12.1.0
qrcode==8.2
python-decouple==3.8

# WebSocket Redis (prod)
channels_redis==4.2.1

# Gestion des dépendances (Fix conflit Railway)
typing_extensions>=4.13.2
asgiref==3.11.0
attrs==25.4.0